<div>
    <h1>Carrito</h1>
    {{#each payload}}
    <div>
        <p>Product ID: {{_id}}</p>
        <p>Title: {{title}}</p>
        <p>Description: {{description}}</p>
        <p>Price: {{price}}</p>
    </div>
    {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>