<div>
<form action="/api/sessions/login" method="post">
<h1>Login</h1>
    <input type="text" name="email" placeholder="Ingrese su Email">
    <input type="text" name="password" placeholder="Ingrese su password">
    <button>Enviar</button>
</form>
<a href="/api/sessions/github">Github</a>
</div>