<form action="/api/sessions/login" method="post">
    <input type="text" name="email" placeholder="Ingrese su Email">
    <input type="text" name="password" placeholder="Ingrese su password">
    <button>Enviar</button>
</form>